* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	perspective: 2000px;
	transform-style: preserve-3d;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  


  body {
	background: radial-gradient(circle farthest-side at 50% 50%, #F8B195 0%, #F67280 50%, #c06d84 100%);
  }
  
  .container {
	width: 80%;
	max-width: 600px;
	margin: 150px auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	opacity: 0.9;
	transform: rotateY(-15deg);
	position: relative;
	animation: container-movement 10s ease-in-out infinite;
	transition: background-color 2.8s ;
	background-color: rgba(255, 255, 255, 0.7);
	
  }
  
  .title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #050609;
	text-shadow: 1px 1px 2px #888;
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
}
  
  .card {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(5, 6, 9, 0.3);
	text-align: center;
	opacity: 0.8;
	justify-content: right;
  }
  
  .card:hover {
	transform: rotateY(2deg);
	box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.4);
	transition: box-shadow 1s ease-in-out;
  }
  
  .card:not(:hover) {
	box-shadow: 0 0 5px rgba(5, 6, 9, 0.3);
	transition-delay: 0.1s;
	transition: box-shadow 1s ease-in-out;
  }
  
  .card-link {
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #F67280;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
  }
  
  .card-link:hover {
	background-color: #050609;
  }
  
  .card-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #050609;
	text-shadow: 1px 1px 2px #888;
  }
  
  .card-text {
	color: #3A3238;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	opacity: 0.8;
	text-shadow: 1px 1px 2px #888;
  }
  
  .card-container {
	display: flex;
	justify-content: space-evenly ;
	align-items: center;
  }
  
  .services {
	display: inline-block;
	width: calc(40% - 10px);
  }
  

  a {
	display: inline-block;
	padding: 12px 24px;
	background-color: #050609;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  a:hover {
	background-color: #888;
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  a:active {
	transform: translateY(1px);
	box-shadow: none;
  }
  
  .facts-bar {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #05060980;
	display: flex;
	justify-content: center;
	font-size: 25px;
	color: #fff;
  }
  
